:root {
/* Override primary and secondary theme colors */
    --pst-color-primary: #4bb3fdff; /* Dodger Blue */
    --pst-color-secondary: #6432bdff; /* Grape */

    /* accent colors */
    --pst-color-accent-orange: #fd8c4b;
    --pst-color-accent-lime: #63C764;

    /* Override hover colors */
    --pst-color-link-hover: #2a9df4; /* Lighter Dodger Blue for hover */
    --pst-color-button-hover-bg: #3C1E71; /* Grape for button hover background */
    --pst-color-button-hover-text: #ffffff; /* White text for button hover */

    /* If buttons have a secondary hover color */
    --pst-color-button-secondary-hover-bg: #3C1E71; /* Darker Grape for secondary button hover */

    --patcher-text-color: #222832;
    --patcher-text-color-muted: #9ca4af;
}

html[data-theme="light"] {
/* Custom colors for the light theme */
    --pst-color-primary: #4bb3fdff; /* Dodger Blue */
    --pst-color-secondary: #6432bdff; /* Grape */
    --pst-color-link-hover: #2a9df4; /* Lighter Dodger Blue */
    --pst-color-accent-orange: #fd8c4b;
    --pst-color-accent-lime: #63C764;
}

html[data-theme="dark"] {
/* Custom colors for the dark theme */
    --pst-color-primary: #4bb3fdff; /* Dodger Blue */
    --pst-color-secondary: #9d7eea; /* Lighter Grape */
    --pst-color-link-hover: #2a9df4; /* Lighter Dodger Blue */
    --pst-color-accent-orange: #fd8c4b;
    --pst-color-accent-lime: #63C764;
}


.sd-table tr:hover {
    /* Override hover when using sd-table directive */
    background-color: unset !important;
}

.patcher-title {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Custom "Optional" Admonition */
div.admonition.admonition-optional {
    border-color: hsl(0 0% 80%);
}

div.admonition.admonition-optional > .admonition-title {
    background-color: hsl(0 0% 80%);
    color: black;
}

div.admonition.admonition-optional > .admonition-title::after {
    color: hsl(0 0% 30%);
    content: "\f08d";
}

.patcher-banner {
    display: block;
    margin: 20px;
    max-width: 720px;
    height: auto;
    clear: both; /* Prevent text or floated elements from wrapping */
}

html[data-theme="dark"] .patcher-banner {
    background-color: transparent;
}

.patcher-banner + * {
    clear: both;
    margin-top: 20px;
}

.patcher-parameter {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    margin-bottom: 12px;
}

.patcher-param-header {
    display: flex;
    align-items: center !important;
    gap: 4px;
    color: var(--patcher-text-color);
    
    background: rgba(0, 0, 0, 0.05);
    padding: 8px 10px !important;

    border-left: 4px solid var(--pst-color-primary);
    border-radius: 4px;
}

html[data-theme="dark"] .patcher-param-header {
    background: rgba(255, 255, 255, 0.1);
    border-left: 4px solid var(--pst-color-secondary)
}

.patcher-param-name {
    font-family: var(--pst-font-family-monospace);
    font-weight: bold;
    font-size: 17px;
    color: var(--pst-color-secondary);

    background: none !important;
    border: none !important;
    padding: 0 !important;
}

html[data-theme="dark"] .patcher-param-name {
    color: var(--pst-color-primary);
}

.patcher-param-type {
    font-style: italic;
    font-size: 14px;
    color: #666;
}

html[data-theme="dark"] .patcher-param-type {
    color: var(--patcher-text-color-muted);
}

.patcher-param-required {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--pst-color-link-hover);
}

html[data-theme="dark"] .patcher-param-required {
    color: var(--pst-color-secondary);
}

.patcher-param-desc {
    margin-left: 25px !important;
    padding-top: 6px !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}