name: Build, Release and Publish to PyPI

on:
  workflow_dispatch:
    inputs:
      contributors:
        description: 'Contributors for this release'
        required: false
        default: ''

permissions:
  contents: write
  id-token: write

jobs:
  build-and-release:
    name: Build, Release, and Publish to PyPI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  #v6.0.0
        with:
          python-version: '3.x'

      - name: Install pypa/build
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install build --user

      - name: Read release version
        id: read_version
        run: |
          VERSION=$(python3 -c 'import src.patcher.__about__ as about; print(about.__version__)')
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Build binary wheel and source tarball
        run: python3 -m build

      - name: Store distribution package
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
        with:
          name: patcher-${{ env.VERSION }}
          path: dist/

      - name: Publish package to PyPI
        id: publish_pypi
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc  # v1.12.4

      - name: Get Changelog updates
        id: changelog_reader
        uses: mindsers/changelog-reader-action@32aa5b4c155d76c94e4ec883a223c947b2f02656  # v2.2.3
        with:
          validation_depth: 100
          version: v${{ env.VERSION }}

      - name: Generate changelog
        id: changelog
        uses: metcalfc/changelog-generator@3f82cef08fe5dcf57c591fe165e70e1d5032e15a  # v4.6.2
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
          reverse: 'true'

      - name: Create Release
        id: create_release
        if: ${{ steps.publish_pypi.outcome == 'success' }}
        uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836  # v2.3.3
        with:
          name: Patcher ${{ env.VERSION }}
          tag_name: v${{ env.VERSION }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            ./dist/*.tar.gz
            ./dist/*.whl
          body: |
            # Patcher Release Notes
            This release has been automatically generated by a GitHub Action.
            For detailed installation instructions, please refer to the [Docs](https://patcher.liquidzoo.io) or the [README](https://github.com/liquidz00/Patcher/blob/main/README.md)

            ## Changelog for this release
            This amended changelog is specific to this release. View the [full changelog](https://github.com/liquidz00/Patcher/blob/main/CHANGELOG.md) for all details.
            ${{ steps.changelog_reader.outputs.changes }}

            ## Changes
            ${{ steps.changelog.outputs.changelog }}

            ### Contributors
            ${{ github.event.inputs.contributors }}
