name: Run Tests

on: [push, pull_request]

permissions: read-all

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    name: Run unit tests
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41  # v7.1.2
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python
        run: uv python install ${{ matrix.python-version }}

      - name: Install
        run: make install-dev

      - name: Lint and format
        run: make lint

      - name: Set fallback keyring for Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: echo "KEYRING_BACKEND=keyring.backends.null.Keyring" >> $GITHUB_ENV

      - name: Run tests
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: make test-cov
