name: Run Tests

on: [push, pull_request]

permissions: read-all

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
    name: Run unit tests
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  #v6.0.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: make install-dev

      - name: Lint and format
        run: make lint

      - name: Set fallback keyring for Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: echo "KEYRING_BACKEND=keyring.backends.null.Keyring" >> $GITHUB_ENV

      - name: Run tests
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: pytest --cov
